<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <title>@ViewData["Title"] - Aiursoft</title>
    <link href="@Values.CdnServerAddress/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="@Values.CdnServerAddress/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <script src="@Values.CdnServerAddress/lib/jquery/dist/jquery.min.js"></script>
    <script src="@Values.CdnServerAddress/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
