<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Aiursoft Developer Center</title>
        <link href="@Values.CdnServerAddress/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="@Values.CdnServerAddress/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="@Values.CdnServerAddress/lib/Ionicons/css/ionicons.css" rel="stylesheet">
        <link href="@Values.CdnServerAddress/lib/flexslider/flexslider.css" rel="stylesheet">
        <link href="@Values.CdnServerAddress/lib/OwlCarousel/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="@Values.CdnServerAddress/lib/OwlCarousel/owl-carousel/owl.theme.css" rel="stylesheet">
        <link href="~/css/scrolling-nav.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
        <link href="~/css/responsive.css" rel="stylesheet">
        <link href="~/css/headline.css" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-inline">
                            <li><a href="#"><i class="ion-ios-telephone"></i> +01 555-5554</a></li>
                            <li><a href="#"><i class="ion-ios-email"></i> support@dev.com</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right hidden-xs">
                        <ul class="list-inline top-socials">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll logo no-margin" href="#page-top">Aiursoft Dev Center</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" style="max-height:600px">
                <ul class="nav navbar-nav navbar-left">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Products">Products</a></li>
                    <li><a asp-controller="Home" asp-action="Docs">Docs</a></li>
                    <li><a asp-controller="Home" asp-action="ToolsSupport">Tools &amp; Support</a></li>
                    <li><a asp-controller="Home" asp-action="News">News</a></li>
                    <li><a asp-controller="Home" asp-action="Stories">Success Stories</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>
    <section id="home" class="slider-banner">
        <div class="main-slider">
            <ul class="slides">
                <li>
                    <img src="~/images/bg-1.jpg" alt="" class="">
                </li>
                <li>
                    <img src="~/images/bg-2.jpg" alt="" class="">
                </li>
                <li>
                    <img src="~/images/bg-3.jpg" alt="" class="">
                </li>
            </ul>
            <div class="slider-overlay">
                <div class="slider-table">
                    <div class="slider-vm">
                        <div class="cd-intro">
                            <h1 class="cd-headline clip is-full-width">
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Welcome to <span> Aiursoft </span></b>
                                    <b>Digital <span> agency </span></b>
                                    <b>One Page <span> Parallax </span></b>
                                </span>
                            </h1>
                            <p>Creative one page parallax</p>
                            <a asp-controller="Apps" asp-action="Index" class="btn btn-lg btn-white-border">Go to Dashborad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mouse-down "><a href="#about" class="page-scroll"><i class="ion-mouse"></i></a></div>
    </section>
    @RenderBody()
    <section id="contact" class="text-center">
        <div class="height-60"> </div>
        <div class="container">
            <div class="row no-margin ">
                <div class="col-lg-12 col-xs-12 text-center ">
                    <h1 class="section-heading">CONTACT US </h1>
                    <p>Lorem Ipsum is simply dummy text </p>

                </div>
            </div>
            <div class="height-60"> </div>
            <div class="row ">
                <div class="col-md-6 col-sm-6 ">
                    <div class="row">
                        <div class="col-md-12 contact ">
                            <i class="fa fa-map-marker fa-2x"></i>
                            <p class="dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="col-md-12 contact ">
                            <i class="fa fa-envelope-o fa-2x"></i>
                            <p class="dark">info@dev.com <br>info@dev.com</p>
                        </div>
                        <div class="col-md-12 contact ">
                            <i class="fa fa-phone fa-2x"></i>
                            <p class="dark">+001 1250 1234 <br>+001 1203 15354</p>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="scrollReveal sr-right sr-delay-1">
                        <form name="sentMessage" id="contactForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" id="name" class="form-control" placeholder="Name" required aria-invalid="false">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" id="email" class="form-control" placeholder="Email" required>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message here..." required aria-invalid="false"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div id="success"></div>
                            <button type="submit" class="btn btn-lg btn-white-border">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-bottom">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="f-b">Copyright © 2016 All Rights Reserved.</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="footer-widget-social">
                    <ul>
                        <li><a data-tooltip="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a data-tooltip="Linkedin" href="#"><i class="fa fa-linkedin"></i> </a></li>
                        <li><a data-tooltip="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a data-tooltip="Pinterest" href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                        <li><a data-tooltip="Google-Plus" href="#"><i class="fa fa-google-plus"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a href="javascript:;" class="scrollTop back-to-top" id="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </a>

        <script src="@Values.CdnServerAddress/lib/jquery/dist/jquery.min.js"></script>
        <script src="@Values.CdnServerAddress/lib/flexslider/jquery.flexslider-min.js"></script>
        <script src="@Values.CdnServerAddress/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="@Values.CdnServerAddress/lib/scrollreveal/dist/scrollreveal.min.js"></script>
        <script src="@Values.CdnServerAddress/lib/OwlCarousel/owl-carousel/owl.carousel.js"></script>
        <script src="~/js/modernizr.js"></script>
        <script src="~/js/jquery.easing.min.js"></script>
        <script src="~/js/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>