@model API.Models.OAuthViewModels.AuthorizeViewModel
@{
    ViewData["Title"] = Localizer["Sign in"];
}
<div class="lock-wrapper">
    <div class="panel lock-box" id="panelinSignin">
        <div class="center">
            <img class="img-circle" style="height:100px;width:100px" src="@Model.AppImageUrl">
        </div>
        <h4>@Localizer["Hello User !"]</h4>
        <p class="text-center">@Localizer["Please login your Aiursoft Account to access"]</p>
        <p class="text-center"><strong>@Html.DisplayFor(t => t.AppName)</strong></p>
        <div class="row">
            <div class="form-inline">
                @if (Model != null)
                {
                    <form class="form-group col-md-12" asp-controller="OAuth" asp-action="Authorize" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="ToRedirect" type="hidden" />
                        <input asp-for="State" type="hidden" />
                        <input asp-for="AppId" type="hidden" />
                        <input asp-for="Scope" type="hidden" />
                        <input asp-for="ResponseType" type="hidden" />
                        <div class="iconic-input right">
                            <label asp-for="Email" class="text-muted"></label>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Enter Aiursoft Account">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="iconic-input right">
                            <label asp-for="Password" class="text-muted">Password</label>
                            <input class="form-control lock-input" type="password" asp-for="Password" placeholder="Password">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="square-blue pull-left pv-15">
                            <p class="text-muted">
                                <label asp-for="RememberMe"></label>
                            </p>
                            <label class="switch switch-info">
                                <input name="rememberme" asp-for="RememberMe" type="checkbox">
                                <i></i>
                            </label>
                        </div>
                        <button class="btn btn-block btn-primary" type="submit">Sign In</button>
                        <div class="registration"> Forgot password ?<a href="#/pages/forgot-password"> <span class="text-primary"> Click here </span> </a> </div>
                    </form>
                }
                else
                {
                    <div class="col-md-12 alert-danger">
                        An error occured with oauth system!
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div>
        @Localizer["Don't have an account ?"]
        <a asp-controller="OAuth" asp-action="Register" asp-route-redirect_uri="@Model?.ToRedirect" asp-route-state="@Model?.State" asp-route-appid="@Model?.AppId" asp-route-scope="@Model?.Scope" asp-route-response_type="@Model?.ResponseType">
            <span class="text-primary"> @Localizer["Sign Up"]</span>
        </a>
    </div>
    <hr />
    @Localizer["Language:"]
    <a href="javascript:setlang('zh-CN')">中文 - 中国</a> |
    <a href="javascript:setlang('en-US')">English - United States</a>
</div>

@section Scripts {
    <script src="@Values.CdnServerAddress/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="@Values.CdnServerAddress/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
